<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
            
		<div class="col-sm-6">
		  Contact:<br />
		  Lin Liu <a href="mailto:liulin@cuhk.edu.hk" > [email] </a><br />
                  <a href="https://twitter.com/liulin523?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @liulin523</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		  <a href="http://www.cuhk.edu.hk/sci/essc" > Earth System Science Programme</a><br />
		  <a href="http://www.cuhk.edu.hk/sci" > Faculty of Science</a>, <a href="http://www.cuhk.edu.hk" > The Chinese University of Hong Kong</a><br />
		</div>

		<div class="col-sm-6">
		  <p>Lastly updated July 2018. </p> 
		  <p>This website was modified from <a href="http://www.allanlab.org"> Milan Allan's template</a>.</p>
		 </div>
            
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
